$ cat .gitignore
*.[oa]
*~
kodilla-testing/out/
kodilla-testing/out/production/classes/com/kodilla/testing/
/out/
out/
/build/
build/
kodilla-stream/out
*.iml
/kodilla-exception/
/kodilla-exception/out/
/kodilla-stream/
/kodilla-stream/out/
/kodilla-good-patterns/src/main/java/com/kodilla/good/patterns/solid/
.idea/
.gradle/
kodilla-spring-intro/
/kodilla-spring-intro/
/kodilla-spring/src/main/java/com/kodilla/spring/shape/
/kodilla-spring/.gradle/
/kodilla-spring/out/
/kodilla-spring/src/main/java/com/kodilla/spring/library/
/kodilla-spring/src/test/java/com/kodilla/spring/library/
/kodilla-spring/src/test/java/com/kodilla/spring/SpringRunnerTestsSuite.java
/kodilla-spring/src/main/java/com/kodilla/spring/reader/
/kodilla-spring/src/test/java/com/kodilla/spring/reader/
/kodilla-patterns/src/main/java/com/kodilla/patterns/singleton/SettingsFileEngine.java
/kodilla-patterns/src/test/java/com/kodilla/patterns/singleton/SettingsFileEngineTestSuite.java
/kodilla-patterns/src/main/java/com/kodilla/patterns/prototype/Board.java
/kodilla-patterns/src/main/java/com/kodilla/patterns/prototype/Prototype.java
/kodilla-patterns/src/main/java/com/kodilla/patterns/prototype/Task.java
/kodilla-patterns/src/main/java/com/kodilla/patterns/prototype/TasksList.java
/kodilla-patterns/src/test/java/com/kodilla/patterns/prototype/BoardTestSuite.java
/kodilla-patterns/src/main/java/com/kodilla/patterns/strategy/predictors/
/kodilla-patterns/src/main/java/com/kodilla/patterns/strategy/BuyPredictor.java
/kodilla-patterns/src/main/java/com/kodilla/patterns/strategy/CorporateCustomer.java
/kodilla-patterns/src/main/java/com/kodilla/patterns/strategy/Customer.java
/kodilla-patterns/src/main/java/com/kodilla/patterns/strategy/IndividualCustomer.java
/kodilla-patterns/src/main/java/com/kodilla/patterns/strategy/IndividualYoungCustomer.java
/kodilla-patterns/src/test/java/com/kodilla/patterns/strategy/CustomerTestSuite.java
/kodilla-patterns/src/test/java/com/kodilla/patterns/factory/ShapeFactoryTestSuite.java
kodilla-patterns/src/main/java/com/kodilla/patterns/factory/Circle.java
kodilla-patterns/src/main/java/com/kodilla/patterns/factory/Rectangle.java
kodilla-patterns/src/main/java/com/kodilla/patterns/factory/Shape.java
kodilla-patterns/src/main/java/com/kodilla/patterns/factory/ShapeFactory.java
kodilla-patterns/src/main/java/com/kodilla/patterns/factory/Square.java
bash.exe.stackdump
kodilla-patterns/src/main/java/com/kodilla/patterns/builder/checkers/
kodilla-patterns/src/main/java/com/kodilla/patterns/builder/pizza/
kodilla-patterns/src/test/java/com/kodilla/patterns/builder/checkers/
kodilla-patterns/src/test/java/com/kodilla/patterns/builder/pizza/
kodilla-hibernate/src/main/java/com/kodilla/hibernate/task/
kodilla-hibernate/src/test/java/com/kodilla/hibernate/task/
kodilla-hibernate/src/main/java/com/kodilla/hibernate/manytomany/
kodilla-hibernate/src/test/java/com/kodilla/hibernate/manytomany/
