$ cat .gitignore
*.[oa]
*~
kodilla-testing/out/
kodilla-testing/out/production/classes/com/kodilla/testing/
/out/
out/
/build/
build/
kodilla-stream/out
*.iml
/kodilla-exception/
/kodilla-exception/out/
/kodilla-stream/
/kodilla-stream/out/
/kodilla-good-patterns/src/main/java/com/kodilla/good/patterns/solid/
.idea/
.gradle/
kodilla-spring-intro/
/kodilla-spring-intro/
/kodilla-spring/src/main/java/com/kodilla/spring/shape/
/kodilla-spring/.gradle/
/kodilla-spring/out/
/kodilla-spring/src/main/java/com/kodilla/spring/library/
/kodilla-spring/src/test/java/com/kodilla/spring/library/
/kodilla-spring/src/test/java/com/kodilla/spring/SpringRunnerTestsSuite.java
