$ cat .gitignore
*.[oa]
*~
kodilla-testing/out/
kodilla-testing/out/production/classes/com/kodilla/testing/
/out/
out/
/build/
build/
kodilla-stream/out
*.iml
/kodilla-exception/
/kodilla-exception/out/
/kodilla-stream/
/kodilla-stream/out/
/kodilla-good-patterns/src/main/java/com/kodilla/good/patterns/solid/
.idea/
.gradle/
